<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (locals.errorr) { %>
    <h1><%= title %></h1>
    <ul>
      <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
    <% } %> <% if (currentUser) { %>
    <h1>
      WELCOME BACK <%= currentUser.first_name %> <%= currentUser.last_name %>
    </h1>
    <%- include('messages_with_username', { user: currentUser, messages:
    currentMessages }) %>
    <form action="/new-message" method="POST">
      <label for="title"
        >Message Title: <input type="text" name="title"
      /></label>
      <label for="message"
        >New Message: <input type="text" name="message"
      /></label>

      <input
        type="hidden"
        name="username"
        value="<%= currentUser.username %>"
      />
      <button type="submit">Submit</button>
    </form>
    <a href="/log-out">LOG OUT</a>
    <% } else { %> <%- include('messages_anonymous', { messages: currentMessages
    }) %>
    <a href="/log-in">Log in</a>
    <a href="/sign-up">Sign up Now!</a>
    <% } %>
  </body>
</html>
